In [1]:
import pandas as pd
import numpy as np

In [2]:
import sklearn.ensemble
import coniferest.isoforest
from coniferest.datasets import MalanchevDataset

# 1e6 data points
dataset = MalanchevDataset(inliers=2**20, outliers=2**6)

# %%time
isoforest = coniferest.isoforest.IsolationForest(n_subsamples=1024)
isoforest.fit(dataset.data)
scores = isoforest.score_samples(dataset.data)
# CPU times: user 16.4 s, sys: 26.1 ms, total: 16.4 s
# Wall time: 5.03 s

# %%time
skforest = sklearn.ensemble.IsolationForest(max_samples=1024)
skforest.fit(dataset.data)
skscores = skforest.score_samples(dataset.data)
# CPU times: user 32.3 s, sys: 4.48 s, total: 36.8 s
# Wall time: 36.8 s

In [3]:
dataset.data

array([[ 0.31848084,  0.13489336],
       [ 0.02048676,  0.00826382],
       [ 0.40663512,  0.45637779],
       ...,
       [ 0.98386354,  0.10997129],
       [ 0.88637551, -0.02969402],
       [ 1.17984907,  0.02029514]])

In [3]:
df=pd.read_csv(r"train.csv",index_col='PassengerId')

In [4]:
df=df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','Survived']]

In [5]:
for colname in df.select_dtypes("object"):
    df[colname], _ = df[colname].factorize()

In [6]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [7]:
df

             Pclass  Sex        Age  SibSp  Parch     Fare  Embarked  Survived
PassengerId
1                 3    0  22.000000      1      0   7.2500         0         0
2                 1    1  38.000000      1      0  71.2833         1         1
3                 3    1  26.000000      0      0   7.9250         0         1
4                 1    1  35.000000      1      0  53.1000         0         1
5                 3    0  35.000000      0      0   8.0500         0         0
...             ...  ...        ...    ...    ...      ...       ...       ...
887               2    0  27.000000      0      0  13.0000         0         0
888               1    1  19.000000      0      0  30.0000         0         1
889               3    1  29.699118      1      2  23.4500         0         0
890               1    0  26.000000      0      0  30.0000         1         1
891               3    0  32.000000      0      0   7.7500         2         0

[891 rows x 8 columns]

In [8]:
df.to_numpy()

array([[ 3.        ,  0.        , 22.        , ...,  7.25      ,
         0.        ,  0.        ],
       [ 1.        ,  1.        , 38.        , ..., 71.2833    ,
         1.        ,  1.        ],
       [ 3.        ,  1.        , 26.        , ...,  7.925     ,
         0.        ,  1.        ],
       ...,
       [ 3.        ,  1.        , 29.69911765, ..., 23.45      ,
         0.        ,  0.        ],
       [ 1.        ,  0.        , 26.        , ..., 30.        ,
         1.        ,  1.        ],
       [ 3.        ,  0.        , 32.        , ...,  7.75      ,
         2.        ,  0.        ]])

In [9]:
import sklearn.ensemble
import coniferest.isoforest
from coniferest.datasets import MalanchevDataset

# 1e6 data points
dataset = df.to_numpy()

# %%time
isoforest = coniferest.isoforest.IsolationForest(n_subsamples=1024)
isoforest.fit(dataset)
scores = isoforest.score_samples(dataset)
# CPU times: user 16.4 s, sys: 26.1 ms, total: 16.4 s
# Wall time: 5.03 s

# %%time
skforest = sklearn.ensemble.IsolationForest(max_samples=1024)
skforest.fit(dataset)
skscores = skforest.score_samples(dataset)
# CPU times: user 32.3 s, sys: 4.48 s, total: 36.8 s
# Wall time: 36.8 s

c:\Python310\lib\site-packages\coniferest\coniferest.py:91: UserWarning: population should be greater or equal that subsamples number, got n_population < n_subsamples (891 < 1024), assuming n_subsamples = 891
  warn(msg1 + ', ' + msg2 + ', ' + msg3)
c:\Python310\lib\site-packages\sklearn\ensemble\_iforest.py:288: UserWarning: max_samples (1024) is greater than the total number of samples (891). max_samples will be set to n_samples for estimation.
  warn(

In [10]:
skscores

array([-0.39840377, -0.45742645, -0.42605415, -0.4467257 , -0.35536933,
       -0.40878074, -0.45833661, -0.53428998, -0.473011  , -0.51219088,
       -0.4895724 , -0.49164669, -0.3509829 , -0.5934927 , -0.44571046,
       -0.48010126, -0.61493604, -0.45530247, -0.44569551, -0.45545644,
       -0.39770008, -0.45731171, -0.51071478, -0.44954506, -0.51972486,
       -0.61269409, -0.38342658, -0.67481936, -0.45393059, -0.34474607,
       -0.45574203, -0.48404336, -0.43696083, -0.45540958, -0.5087307 ,
       -0.47451072, -0.45266298, -0.35016735, -0.50698067, -0.49735294,
       -0.47264544, -0.51441361, -0.38333744, -0.57832181, -0.49316479,
       -0.34474607, -0.47551462, -0.43696083, -0.50551233, -0.45622314,
       -0.52706239, -0.35016735, -0.46619394, -0.43792287, -0.55197727,
       -0.44458212, -0.43173784, -0.38866741, -0.49600551, -0.53827208,
       -0.39899748, -0.57574232, -0.49193109, -0.52278786, -0.44572461,
       -0.50862622, -0.41958958, -0.35625737, -0.59498624, -0.44735904,
       -0.38391887, -0.59219538, -0.47813872, -0.44540535, -0.50268882,
       -0.34791994, -0.34474607, -0.34474607, -0.55415781, -0.43194545,
       -0.35226494, -0.42546161, -0.44739616, -0.4287386 , -0.44156134,
       -0.54334108, -0.53127421, -0.34474607, -0.62603208, -0.34710745,
       -0.34526337, -0.3509829 , -0.47838132, -0.46826405, -0.41831271,
       -0.34474607, -0.51601838, -0.54491276, -0.44560182, -0.42677109,
       -0.41783889, -0.34474607, -0.53650519, -0.35335071, -0.4677006 ,
       -0.34675061, -0.42981706, -0.41677959, -0.3588111 , -0.53471333,
       -0.44674201, -0.51324919, -0.34846005, -0.44594992, -0.50283177,
       -0.35016735, -0.53906117, -0.42893553, -0.6040354 , -0.53202021,
       -0.52300433, -0.34474607, -0.48310281, -0.41631213, -0.52680715,
       -0.53774365, -0.40199214, -0.42426979, -0.5058098 , -0.37492217,
       -0.39554572, -0.35750647, -0.49420268, -0.43792287, -0.38412615,
       -0.47107154, -0.51977354, -0.46563187, -0.37308119, -0.49995872,
       -0.52045957, -0.4254624 , -0.45534345, -0.45931853, -0.40299513,
       -0.48532278, -0.41678484, -0.51011126, -0.50587258, -0.3942088 ,
       -0.40805819, -0.46365006, -0.40114327, -0.47376503, -0.34536731,
       -0.51685098, -0.49414283, -0.34474607, -0.3470572 , -0.6154979 ,
       -0.44326732, -0.43469816, -0.34786655, -0.36484375, -0.53676461,
       -0.54236163, -0.47022515, -0.53756386, -0.41569957, -0.47306303,
       -0.44176284, -0.59647878, -0.50409282, -0.35016735, -0.47059298,
       -0.441347  , -0.49171368, -0.59309976, -0.37947047, -0.41001574,
       -0.63952044, -0.44914138, -0.52039853, -0.5652337 , -0.5071063 ,
       -0.42330787, -0.50564123, -0.44967871, -0.56075919, -0.35559457,
       -0.41600457, -0.40122713, -0.47144139, -0.49711949, -0.47237019,
       -0.5283944 , -0.40199214, -0.43988995, -0.43696083, -0.49211475,
       -0.3511596 , -0.6154979 , -0.35924349, -0.43412129, -0.43379317,
       -0.51940288, -0.40354807, -0.47734236, -0.48902445, -0.4773052 ,
       -0.35199348, -0.43470805, -0.34846005, -0.37947047, -0.4828478 ,
       -0.46563021, -0.425845  , -0.43996768, -0.43930098, -0.38071511,
       -0.44150019, -0.38460661, -0.38954395, -0.34474607, -0.4996779 ,
       -0.35250785, -0.48226751, -0.3512017 , -0.40294741, -0.49271273,
       -0.4478075 , -0.34526337, -0.42750322, -0.59624632, -0.38568556,
       -0.42073127, -0.44358082, -0.48919259, -0.40290343, -0.38491785,
       -0.49147289, -0.50564123, -0.38173193, -0.34950371, -0.38376799,
       -0.64424201, -0.41327887, -0.46680403, -0.52365104, -0.47325771,
       -0.34536731, -0.45833373, -0.43803501, -0.39566042, -0.49227457,
       -0.49959077, -0.43548918, -0.43573718, -0.63245114, -0.48381403,
       -0.40199214, -0.61204328, -0.52806952, -0.45833506, -0.47588629,
       -0.38778097, -0.53128034, -0.4731512 , -0.54758841, -0.47882202,
       -0.41341748, -0.48335206, -0.46410105, -0.50789334, -0.43696083,
       -0.51636137, -0.4652127 , -0.40242112, -0.5903542 , -0.47523249,
       -0.51920459, -0.34675061, -0.37333845, -0.43338156, -0.41569957,
       -0.401882  , -0.42497838, -0.34846005, -0.47758276, -0.47425408,
       -0.44312   , -0.47272243, -0.45917038, -0.41430633, -0.34710745,
       -0.44572461, -0.39668799, -0.6468798 , -0.43724547, -0.57595563,
       -0.43696083, -0.59937117, -0.41545268, -0.51157573, -0.34474607,
       -0.61306425, -0.45277472, -0.4880295 , -0.47457571, -0.43888452,
       -0.44254865, -0.62250895, -0.52635119, -0.34675061, -0.46982869,
       -0.42616844, -0.44395443, -0.41301193, -0.54788228, -0.52556383,
       -0.34846005, -0.34827571, -0.51284824, -0.44958584, -0.6154979 ,
       -0.47607562, -0.43382421, -0.41943528, -0.46824723, -0.51175034,
       -0.5764754 , -0.42687807, -0.55918266, -0.46718177, -0.48329071,
       -0.34474607, -0.47418924, -0.47817914, -0.46495145, -0.42807554,
       -0.49757587, -0.62705481, -0.38083142, -0.38412615, -0.38633188,
       -0.41822113, -0.42779984, -0.45117051, -0.50462553, -0.36335541,
       -0.3515791 , -0.41650728, -0.49267961, -0.4001584 , -0.38342658,
       -0.3511596 , -0.47454122, -0.49526197, -0.45393059, -0.45393059,
       -0.53771107, -0.47855213, -0.54513491, -0.35962312, -0.47551462,
       -0.34536731, -0.50503738, -0.45545644, -0.43696083, -0.44247993,
       -0.50774505, -0.41155278, -0.35625737, -0.54807178, -0.53285763,
       -0.44568507, -0.42823435, -0.59629979, -0.43203173, -0.35625737,
       -0.51352857, -0.53733954, -0.34969898, -0.4467257 , -0.34474607,
       -0.48479842, -0.58260705, -0.41943528, -0.40199214, -0.4927935 ,
       -0.56742692, -0.42699284, -0.44723905, -0.47495917, -0.4716687 ,
       -0.34846005, -0.41804414, -0.41204212, -0.38775676, -0.41871477,
       -0.4435664 , -0.34786655, -0.44660218, -0.39702772, -0.41687397,
       -0.43146843, -0.38954395, -0.50155664, -0.35016735, -0.49271273,
       -0.34474607, -0.41748136, -0.54127382, -0.40242112, -0.45687884,
       -0.41780296, -0.45261487, -0.48441716, -0.37947047, -0.49901111,
       -0.38333744, -0.43365043, -0.34526337, -0.45460833, -0.43786241,
       -0.34536731, -0.44022   , -0.44857223, -0.40199214, -0.42332777,
       -0.44287811, -0.45117051, -0.46254207, -0.3686786 , -0.48093069,
       -0.54031617, -0.50601004, -0.56606167, -0.71040245, -0.38392459,
       -0.46475194, -0.35464232, -0.39524154, -0.41645682, -0.4184953 ,
       -0.59471501, -0.46749286, -0.43802902, -0.55502696, -0.46611412,
       -0.50425009, -0.40329038, -0.44658261, -0.51102804, -0.34474607,
       -0.45296527, -0.45227532, -0.44663914, -0.45632319, -0.40199214,
       -0.45623446, -0.35180641, -0.43275664, -0.40307018, -0.34474607,
       -0.36343782, -0.40242112, -0.43096467, -0.40199214, -0.54760902,
       -0.34536731, -0.36086074, -0.46756261, -0.47056762, -0.41945536,
       -0.42797617, -0.43146843, -0.40242107, -0.34846005, -0.49348544,
       -0.54044661, -0.40242112, -0.38436355, -0.54395872, -0.5087383 ,
       -0.49271273, -0.454025  , -0.47069809, -0.34474607, -0.50377467,
       -0.40329038, -0.35016735, -0.43501029, -0.52744559, -0.35016735,
       -0.40346906, -0.47326813, -0.35830443, -0.6126934 , -0.34710745,
       -0.36484375, -0.50550993, -0.48076589, -0.44139844, -0.47716804,
       -0.55900166, -0.4698357 , -0.43689377, -0.38325248, -0.51684563,
       -0.51993317, -0.34474607, -0.43918632, -0.48381884, -0.34710745,
       -0.42723376, -0.42276295, -0.47557095, -0.44843008, -0.34969898,
       -0.44502572, -0.34846005, -0.38342658, -0.50066474, -0.38342658,
       -0.44259151, -0.45632319, -0.56503502, -0.3586415 , -0.52819666,
       -0.48654126, -0.38342658, -0.49136289, -0.51240147, -0.41802517,
       -0.48920872, -0.42416575, -0.45051667, -0.35678966, -0.54179994,
       -0.51579791, -0.50684672, -0.51383362, -0.49546406, -0.54095782,
       -0.44990012, -0.45776221, -0.4985115 , -0.43251972, -0.51934614,
       -0.59180234, -0.39713063, -0.40496962, -0.4631395 , -0.4254624 ,
       -0.43803501, -0.4888833 , -0.5641033 , -0.48152457, -0.46807147,
       -0.40199214, -0.36016746, -0.38127689, -0.34474607, -0.41780296,
       -0.4567311 , -0.35625737, -0.54931797, -0.38342658, -0.42252253,
       -0.54191222, -0.5651591 , -0.43855769, -0.43696083, -0.37134769,
       -0.36984732, -0.41649807, -0.45758628, -0.49210325, -0.42252253,
       -0.44706284, -0.50973934, -0.42564432, -0.46297545, -0.39155744,
       -0.51870569, -0.40659111, -0.58459477, -0.34846005, -0.34474607,
       -0.35694423, -0.47271058, -0.37886624, -0.55848016, -0.42857884,
       -0.44123925, -0.45156241, -0.45061098, -0.38342658, -0.50845452,
       -0.49879469, -0.34474607, -0.42241876, -0.36834829, -0.47302669,
       -0.40949515, -0.34474607, -0.44828589, -0.53652724, -0.48480845,
       -0.5564775 , -0.34900148, -0.50564123, -0.40199214, -0.35536933,
       -0.5088216 , -0.42958211, -0.44149111, -0.54762863, -0.38513296,
       -0.44405599, -0.48518095, -0.52209795, -0.35016735, -0.37134992,
       -0.43964313, -0.58213702, -0.44950971, -0.34786655, -0.40199214,
       -0.59249931, -0.39639917, -0.46844624, -0.4457784 , -0.50368411,
       -0.41645682, -0.34969898, -0.45930236, -0.59323708, -0.39566042,
       -0.3509829 , -0.44247993, -0.52465538, -0.49709765, -0.54760902,
       -0.50672284, -0.35625737, -0.51670802, -0.34474607, -0.4283399 ,
       -0.34474607, -0.45500364, -0.35089002, -0.4492518 , -0.53884827,
       -0.51433253, -0.34474607, -0.57967363, -0.38648909, -0.59747102,
       -0.59598467, -0.41844868, -0.43048165, -0.35559457, -0.47489899,
       -0.52508171, -0.38412615, -0.34474607, -0.36355183, -0.44663914,
       -0.47283298, -0.46975635, -0.47306601, -0.45578403, -0.40242112,
       -0.3565911 , -0.3485445 , -0.43523024, -0.63963138, -0.6829048 ,
       -0.48926545, -0.4892155 , -0.35439794, -0.55107604, -0.54030838,
       -0.58011622, -0.52858158, -0.36475374, -0.3565911 , -0.56301146,
       -0.47454299, -0.51172942, -0.49709765, -0.39617798, -0.43532277,
       -0.40843737, -0.36834829, -0.44571282, -0.55802221, -0.36202082,
       -0.55265895, -0.44048182, -0.51359292, -0.42084925, -0.39662479,
       -0.40362153, -0.43445846, -0.4510626 , -0.48826507, -0.50862622,
       -0.44983068, -0.41394891, -0.49048143, -0.34965345, -0.40824304,
       -0.35625737, -0.50579314, -0.42128015, -0.44045997, -0.35099766,
       -0.49278914, -0.41431761, -0.38519263, -0.40556268, -0.48166601,
       -0.35240715, -0.54924885, -0.4408516 , -0.4281663 , -0.44372616,
       -0.50958188, -0.49208687, -0.40242112, -0.38648909, -0.38648909,
       -0.36498598, -0.54487735, -0.66099526, -0.34474607, -0.34474607,
       -0.43677056, -0.4796722 , -0.61570345, -0.39774535, -0.41990669,
       -0.57569212, -0.4450756 , -0.41489671, -0.50207829, -0.40867252,
       -0.48119381, -0.51600059, -0.35521571, -0.34778161, -0.52575162,
       -0.5143139 , -0.34675061, -0.40299513, -0.35180641, -0.43886628,
       -0.35678966, -0.36094705, -0.4709022 , -0.52119668, -0.37134769,
       -0.47059009, -0.45196788, -0.4877504 , -0.5027493 , -0.34969898,
       -0.35113954, -0.37783961, -0.54052152, -0.38342658, -0.57219352,
       -0.3565911 , -0.40199214, -0.48273327, -0.40199214, -0.53364787,
       -0.47343579, -0.47991274, -0.41549306, -0.46239755, -0.35281741,
       -0.34791994, -0.4379604 , -0.59707539, -0.54504232, -0.48900274,
       -0.40199214, -0.4333385 , -0.63952044, -0.4463077 , -0.34791994,
       -0.39053187, -0.46173927, -0.43218863, -0.38376799, -0.45161548,
       -0.38519263, -0.44534077, -0.57358454, -0.56202493, -0.42322418,
       -0.34718092, -0.45517798, -0.42706423, -0.39053187, -0.44814025,
       -0.34786655, -0.39763608, -0.38761111, -0.51155957, -0.34516517,
       -0.4457784 , -0.41385947, -0.52450512, -0.37198451, -0.50878097,
       -0.50663063, -0.42031803, -0.45554532, -0.45223098, -0.53270572,
       -0.41540833, -0.46857722, -0.60442194, -0.51087529, -0.62178473,
       -0.49172023, -0.50197332, -0.38342658, -0.34778161, -0.35623887,
       -0.50257116, -0.35207481, -0.34474607, -0.50268882, -0.46488461,
       -0.3509829 , -0.42020259, -0.45154547, -0.41262736, -0.36484375,
       -0.36202082, -0.6154979 , -0.40341587, -0.4732707 , -0.44667965,
       -0.52714111, -0.51417834, -0.53757294, -0.49693733, -0.53083455,
       -0.46254165, -0.52896821, -0.46447747, -0.55801628, -0.38342658,
       -0.46613096, -0.44919633, -0.46017225, -0.63952044, -0.38442466,
       -0.43034473, -0.49459803, -0.43386846, -0.34888899, -0.51401916,
       -0.34786655, -0.49533787, -0.45187707, -0.38281716, -0.48656468,
       -0.46552043, -0.36111045, -0.35625737, -0.34474607, -0.52330224,
       -0.44436988, -0.35099766, -0.42039896, -0.38208054, -0.35281741,
       -0.65931017, -0.38460661, -0.46684393, -0.46363031, -0.47485019,
       -0.41433959])

In [44]:
dataset['score']=scores
dataset['skscores']=skscores

In [45]:
dataset.sort_values(by=['score','skscores'],ascending=True)

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived,scores,anomaly_score,score,skscores
PassengerId,,,,,,,,,,,,
439,1,0,64.000000,1,4,263.0000,0,0,0.033026,1,-0.706595,-0.710402
680,1,0,36.000000,0,1,512.3292,1,1,0.000000,1,-0.674588,-0.682905
28,1,0,19.000000,3,2,263.0000,0,0,0.033026,1,-0.669898,-0.674819
886,3,1,39.000000,0,5,29.1250,2,0,0.033026,1,-0.667044,-0.659310
679,3,1,43.000000,1,6,46.9000,0,0,0.033026,1,-0.664005,-0.639631
...,...,...,...,...,...,...,...,...,...,...,...,...
739,3,0,29.699118,0,0,7.8958,0,0,0.033026,1,-0.352908,-0.344746
740,3,0,29.699118,0,0,7.8958,0,0,0.033026,1,-0.352908,-0.344746
838,3,0,29.699118,0,0,8.0500,0,0,0.033026,1,-0.352908,-0.344746
879,3,0,29.699118,0,0,7.8958,0,0,0.033026,1,-0.352908,-0.344746
815,3,0,30.500000,0,0,8.0500,0,0,0.033026,1,-0.352826,-0.345165

In [46]:
dataset

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived,scores,anomaly_score,score,skscores
PassengerId,,,,,,,,,,,,
1,3,0,22.000000,1,0,7.2500,0,0,0.033026,1,-0.392634,-0.398404
2,1,1,38.000000,1,0,71.2833,1,1,0.000000,1,-0.453400,-0.457426
3,3,1,26.000000,0,0,7.9250,0,1,0.000000,1,-0.431388,-0.426054
4,1,1,35.000000,1,0,53.1000,0,1,0.000000,1,-0.438525,-0.446726
5,3,0,35.000000,0,0,8.0500,0,0,0.033026,1,-0.365732,-0.355369
...,...,...,...,...,...,...,...,...,...,...,...,...
887,2,0,27.000000,0,0,13.0000,0,0,0.033026,1,-0.385844,-0.384607
888,1,1,19.000000,0,0,30.0000,0,1,0.000000,1,-0.464136,-0.466844
889,3,1,29.699118,1,2,23.4500,0,0,0.033026,1,-0.475091,-0.463630
890,1,0,26.000000,0,0,30.0000,1,1,0.000000,1,-0.473353,-0.474850
891,3,0,32.000000,0,0,7.7500,2,0,0.033026,1,-0.429131,-0.414340

In [47]:
# %%time
from coniferest.sklearn.isoforest import IsolationForestEvaluator
dataset = dataset.drop(['score','skscores'],axis=1)
isoforest = sklearn.ensemble.IsolationForest(max_samples='auto',contamination=float(0.2),random_state=10)


isoforest.fit(dataset[['Survived']])
print(isoforest.get_params())

dataset['scores'] = isoforest.decision_function(dataset[['Survived']])

dataset['anomaly_score'] = isoforest.predict(dataset[['Survived']])



# Wall time: 6.32 s

{'bootstrap': False, 'contamination': 0.2, 'max_features': 1.0, 'max_samples': 'auto', 'n_estimators': 100, 'n_jobs': None, 'random_state': 10, 'verbose': 0, 'warm_start': False}

c:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [48]:
dataset[dataset['anomaly_score']==-1]

Empty DataFrame
Columns: [Pclass, Sex, Age, SibSp, Parch, Fare, Embarked, Survived, scores, anomaly_score]
Index: []